#image_container {
    float: left;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width : 620px;
    height: 370px;
    overflow: auto;
}

#image_container > img {
    width : 600px;
    height: 350px;
}

#image_container > img.zoom {
    width : 1200px;
    height: 700px;
}

#notes_nav {
    display:inline-block;
    float:left;
    height: 370px;
    width:150px;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
}

#translate_block {
    margin-top: 20px;
    display: inline-block;
    width: 48%;
    height: 350px;
    border-style: solid;
    border-width: 1px;

}
#notes_block {
    margin-top: 20px;
    display: inline-block;
    width: 48%;
    height: 350px;
    border-style: solid;
    border-width: 1px;

}
