#current_page {
    display: none;
}
#image_container {
    float: left;
    display: inline-block;
    width : 620px;
    height: 370px;
    overflow: auto;
}

#image_container > img {
    width : 600px;
    height: 350px;
}

#image_container > img.zoom {
    width : 1200px;
    height: 700px;
}

#save_block {
    display:none;
    text-align: center;
    width: 100%;
}

#save_block.changed {
    display:block;
}
#save{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#notes_nav {
    display:inline-block;
    float:left;
    height: 370px;
    width:150px;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
}

#notes_nav > ul{
    height: 330px;
    overflow: auto;
    margin-top: 0px;
    margin-left: -5px;
}

#notes_nav > ul > li{
    display:block;
}

#notes_nav > ul > li:hover{
    cursor: pointer;
    text-decoration:underline;
}

#project_notes {
    margin-left: 5px;
}

#project_notes:hover {
    cursor: pointer;
    text-decoration:underline;
}

#translate_block {
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 48%;
    height: 350px;
}

#translate_block textarea {
    margin-top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    width: 99%;
    height: 305px;
    overflow: scroll;
}

#notes_block {
    display: inline-block;
    margin-bottom: 20px;
    width: 48%;
    height: 350px;
}

#notes_block textarea {
    margin-top: -15px;
    margin-left: 2px;
    margin-right: 2px;
    width: 99%;
    height: 305px;
    overflow: scroll;
}

#bottom_tools {
    background-color: #c66;
    display: inline-block;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
    width: 720px;
}

