<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div id="head-container">
            <div id="header">
                <a href="/"><h1>Digital Bleek and Lloyd Translation Project</h1></a>
            </div>
        </div>
        <div id="navigation-container">
            <div id="navigation">
                {% if user_o %}
                <div id="welcome">Welcome {{ user_o }}<a href="{% url main.views.logoutView %}">logout</a></div>
                {% else %}
                <div id="welcome">
		  <a href="{% url main.views.loginView %}">Login</a>
		  <a href="{% url main.views.register %}">Register</a>
		</div>
                {% endif %}
            </div>
        </div>
        <div id="content-container">
            <div id="left-nav">
	      {% if user_o %}
	      <div id="project-nav">
		  <h3>Projects</h3>
		  <ul>
                  {% for short, id, tit in projects %}
                    <a href="{% url main.views.story short id %}"><li>{{tit}}</li></a>
                  {% endfor %}
		  </ul>
		</div>
	      {% endif %}
	      <div id="story-nav">
		  <h3>Stories</h3>
		  <ul>
              <li><a href="{% url main.views.notebook 'dorotheableek' %}">Dorothea Bleek</a></li>
		      <li><a href="{% url main.views.notebook 'jemimableek' %}">Jemima Bleek</a></li>
		      <li><a href="{% url main.views.notebook 'lucylloydkora' %}">Lucylloyd Kora</a></li>
		      <li><a href="{% url main.views.notebook 'lucylloydkun' %}">Lucylloyd Kun</a></li>
		      <li><a href="{% url main.views.notebook 'lucylloydxam' %}">Lucylloyd Xam</a></li>
		      <li><a href="{% url main.views.notebook 'wilhelmbleek' %}">Wilhelm Bleek</a></li>
		  </ul>
		</div>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer-container">
            <div id="footer">
                WWW Translation Tool 2012
            </div>
        </div>
    </body>
</html>
