<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
      <h2>From base template</h2>
      <hr/>
      This is a Test
      {% if user %}
        <div id="welcome">Welcome {{ user }}(<a href="/logout">logout</a>)</div>
      {% else %}
      <div id="welcome"><a href="/login">Login</a>/<a href="/register">Register</a></div>
      {% endif %}
      <hr/>
      <div>
          <div id="navigation">
              <h3>Navigation</h3>
		<ul>
		<li><a href="/story/dorotheableek">Dorothea Bleek - Notebook</a></li>
		<li><a href="/story/jemimableek">Jemima Bleek - Notebook</a></li>
		<li><a href="/story/lucylloydkora">Lucylloyd Kora - Notebook</a></li>
		<li><a href="/story/lucylloydkun">Lucylloyd Kun - Notebook</a></li>
		<li><a href="/story/lucylloydxam">Lucylloyd Xam - Notebook</a></li>
		<li><a href="/story/wilhelmbleek">Wilhelm Bleek - Notebook</a></li>
		</ul>
 	           
          </div>
          <div id="content">
              {% block content %}{% endblock %}
          </div>
      </div>
  </body>
</html>
