{% extends "base.html" %}

{% block title %}Translator - Index{% endblock %}

{% block content %}
<h3>The Digital Bleek and Lloyd</h3>
    <p>The Digital Bleek and Lloyd includes scans of every page of the 110 Lucy Lloyd
|xam notebooks, 17 Lloyd (mostly) !kun notebooks and 28 Wilhelm Bleek |xam notebooks.
It also includes Jemima Bleek's solitary Korana and !kun notebook and four Lloyd Korana
 notebooks in the Maingard collection of the Library at the University of South Africa,
 as well as Dorothea Bleek's 32 notebooks. </p>
    <p>This web interface aims to provide users with the ability to add translations
to pages, as well as additional comments. Contributions are specific to a particular
user. It is suitable for both experts in the language, who wish to create the official
 translation, as well as casual users who may only add a few of their own notes.
Collaborations between users can be achieved by a user group employing the same login.
In the future we may provide additional collarboration tools.</p>
    <p>Use the navigation bar on the left to begin exploring the collection. Once you
feel you have something to contibute login (or register if you have not yet done so)
and start a project. The system will keep track of your project for that particular
story and save all changes you make automatically. You can come back and review your
work at any time and make further contributions. </p>
{% endblock %}
