{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}page.css"/>
<script type="text/javascript" src="{{STATIC_URL}}page.js"></script>
{% endblock %}

{% block title %}{{story_title}} Page - {{page_num}}{% endblock %}

{% block content %}
<a href=".."><h3>{{ story_title }}</h3></a>
<div class="pagenav">
    <div id="page_id">
        <table>
        <tr><td>
          {% if page_prev %}
          <a href="../{{page_prev}}">Previous</a>
          {% endif %}
         </td>
         <td>Page - {{page_num}}</td>
        <td id="right">
          {% if page_next %}
          <a href="../{{page_next}}">Next</a>
          {% endif %}
         </td>
        </tr>
        </table>

    </div>
    <div id="inner">
        {% for p in pages %}
        {% if p == page_num %}
        <span>{{p}}</span>
        {% else %}
        <span><a href="../{{p}}/">{{p}}</a></span>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div id="image_container">
    <img src="/image/{{uuid}}/"/>
</div>
{% if project %}
<div id="notes_nav">
    <span id="project_notes">Project Notes</span>
    <ul>
    {% for i in pages %}
        <li id="{{i}}">Page {{i}}</li>
    {% endfor %}
    </ul>
</div>
<span id="current_page">{{page_num}}</span>
<div id="bottom_tools">
    <div id="translate_block">
        <h3>Translation:</h3>
        <textarea id="translation">{{trans}}</textarea>
    </div>
    <div id="notes_block">
        <h3>Page {{page_num}} Notes:</h3>
        <textarea id="note_area">{{notes}}</textarea>
    </div>
    <div id="save_block"><button id="save">Save Changes</button></div>
</div>
{% endif %}
{% endblock %}
