{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}page.css"/>
<script type="text/javascript" src="{{STATIC_URL}}page.js"></script>
{% endblock %}

{% block title %}{{story_title}} Page - {{page_num}}{% endblock %}

{% block content %}
<h3>{{ story_title }}</h3>
<div id="page_num">
    <div id="page_id">Page - {{page_num}}</div>
    {% for p in pages %}
        {% if p == page_num %}
        <span>{{p}}</span>
        {% else %}
        <span><a href="../{{p}}/">{{p}}</a></span>
        {% endif %}
    {% endfor %}
</div>
<div id="image_container">
    <img src="{{ STATIC_URL }}/test.jpg"/>
</div>
{% if user %}
<div id="notes_nav">
    <span>Project Notes</span>
</div>
<div id="translate_block">
    <textarea></textarea>
</div>
<div id="notes_block">
    <textarea></textarea>
</div>
{% endif %}
{% endblock %}
